.wrapper {
    padding: 25px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: start;
    background: #fff;
    border-radius: 10px;
}