html {
  font-family: 'Open Sans';
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
}

.container {
  margin-bottom: 20px;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}