body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}